<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testng">
    <classes>
      <class name="com.selenium.basic.FirstTestCase"/>
      <class name="com.liveproject.LoginTest"/>
      <class name="com.liveproject.CreatePortfolio"/>
    </classes>
  </test> <!-- Testng -->
</suite> <!-- Suite -->
